@charset "UTF-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
}

html {
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: hsl(0, 0%, 100%);
}

.container {
  padding-inline: 15px;
}

.w-100 {
  width: 100%;
}

.h1, .h2, .h3 {
  color: hsl(224, 48%, 22%);
  line-height: 1.2;
}

.h1 {
  font-size: 1.875rem;
}

.h2 {
  font-size: 1.5rem;
}

.h3 {
  font-size: 1.063rem;
}

.section-text,
.features .card-text {
  color: hsl(219, 13%, 44%);
  font-size: 0.875rem;
  line-height: 1.8;
  margin-bottom: 15px;
}

.btn {
  font-size: 0.875rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 14px 25px;
  border-radius: 4px;
  transition: 0.25s ease;
}
.btn > ion-icon {
  font-size: 16px;
}

.btn-primary {
  background: hsl(342, 100%, 50%);
  color: hsl(0, 0%, 100%);
}
.btn-primary:is(:hover, :focus) {
  background: hsl(244, 86%, 59%);
}

.btn-secondary {
  background: hsl(244, 86%, 59%);
  color: hsl(0, 0%, 100%);
}
.btn-secondary:is(:hover, :focus) {
  background: hsl(342, 100%, 50%);
}

.section-subtitle {
  color: hsl(219, 13%, 44%);
  font-size: 0.813rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 74px;
  padding-block: 16px;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.1);
  overflow: hidden;
  transition: 0.35s ease-out;
  z-index: 4;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo img {
  width: 160px;
}

.header.nav-active {
  height: 250px;
  transition: 0.5s ease-out;
}

.header.active {
  position: fixed;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav-toggle-btn {
  color: hsla(0, 0%, 0%, 0.8);
  font-size: 35px;
  padding-inline: 5px;
}

.nav-toggle-btn .open,
.nav-toggle-btn.active .close {
  display: block;
}

.nav-toggle-btn .close,
.nav-toggle-btn.active .open {
  display: none;
}

.navbar {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  padding-block: 10px;
  visibility: hidden;
}

.header.nav-active .navbar {
  visibility: visible;
}

.navbar-link {
  color: hsl(224, 48%, 22%);
  font-size: 0.875rem;
  font-weight: 600;
  padding: 6px 15px;
  transition: 0.25s ease;
  opacity: 0;
}
.navbar-link:is(:hover, :focus) {
  color: hsl(342, 100%, 50%);
}

.header.nav-active .navbar-link {
  opacity: 1;
}

.header .btn {
  display: none;
}

/* hero */
.hero {
  background-color: hsl(0, 0%, 96%);
  padding-top: 130px;
  padding-bottom: 60px;
}
.hero .shape {
  display: none;
}
.hero-banner {
  margin-bottom: 30px;
}
.hero-content {
  text-align: center;
}
.hero-content .hero-title,
.hero-content .section-text {
  margin-bottom: 20px;
}
.hero .btn {
  margin-inline: auto;
}

/* features */
.features {
  padding-block: 60px;
}
.features .section-title {
  margin-bottom: 40px;
}
.features :is(.section-subtitle, .section-title) {
  text-align: center;
}
.features-list {
  display: grid;
  gap: 25px;
}
.features-card {
  border: 1px solid hsl(0, 0%, 90%);
  padding: 30px;
  text-align: center;
}
.features-card .card-icon {
  max-width: max-content;
  margin-inline: auto;
  margin-bottom: 30px;
}
.features-card .card-title {
  margin-bottom: 15px;
}
.features-card .card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: hsl(342, 100%, 50%);
  font-size: 0.813rem;
  font-weight: 600;
  transition: 0.25s ease;
}
.features-card .card-link:is(:hover, :focus) {
  gap: 10px;
  color: hsl(224, 48%, 22%);
}

/* services */
.service {
  background: hsl(0, 0%, 96%);
  padding-block: 60px;
}
.service-banner {
  margin-bottom: 30px;
}
.service-content:first-of-type {
  padding-bottom: 50px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
  margin-bottom: 50px;
}
.service .section-title {
  margin-bottom: 30px;
}
.service-item {
  background: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 20px;
  box-shadow: 0 5px 25px 10px hsla(0, 0%, 0%, 0.02);
  border-radius: 8px;
}
.service-item:not(:last-child) {
  margin-bottom: 20px;
}
.service-item-icon {
  display: grid;
  border-radius: 50%;
  place-items: center;
  transition: 0.25s ease;
  background: hsl(0, 0%, 96%);
  color: hsl(342, 100%, 50%);
  min-width: 30px;
  height: 30px;
}
.service-item-icon:is(:hover, :focus) {
  background: hsl(342, 100%, 50%);
  color: hsl(0, 0%, 100%);
}
.service-item-icon ion-icon {
  --ionicon-stroke-width: 50px;
}

/* blog */
.blog {
  padding-block: 60px;
}
.blog :is(.section-subtitle, .section-title) {
  text-align: center;
}
.blog .section-title {
  margin-bottom: 40px;
}
.blog-list {
  display: grid;
  gap: 25px;
}
.blog-card {
  background: hsl(0, 0%, 100%);
  box-shadow: 0 2px 25px 10px hsla(0, 0%, 0%, 0.1);
  border-radius: 12px;
  overflow: hidden;
}
.blog-banner {
  /*  aspect-ratio: tỷ lệ khung hình */
  aspect-ratio: 2/1.3;
  overflow: hidden;
}
.blog-banner :is(a, img) {
  height: 100%;
}
.blog-banner img {
  object-fit: cover;
  transition: 0.5s ease;
}
.blog-banner img:hover {
  transform: scale(1.1);
}
.blog-content {
  padding: 20px;
}
.blog-meta-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.blog-meta-item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: hsl(219, 13%, 44%);
  font-size: 0.813rem;
  text-transform: uppercase;
}
.blog-meta-item ion-icon {
  color: hsl(342, 100%, 50%);
  --ionicon-stroke-width: 45px;
}
.blog-meta-link {
  color: hsl(219, 13%, 44%);
  transition: 0.25s ease;
}
.blog-meta-link:is(:hover, :focus) {
  color: hsl(342, 100%, 50%);
}
.blog-title a {
  color: inherit;
  transition: 0.25s ease;
}

/* newsletter */
.newsletter {
  background: hsl(0, 0%, 96%);
  padding-block: 60px;
}
.newsletter-banner {
  margin-bottom: 30px;
}
.newsletter .section-title {
  margin-bottom: 25px;
}
.newsletter .input-field {
  background: hsl(0, 0%, 100%);
  outline: 1px solid hsla(0, 0%, 0%, 0.1);
  padding: 15px 20px;
  margin-bottom: 15px;
  transition: 0.25s ease;
}
.newsletter .input-field:focus {
  outline-color: hsl(342, 100%, 50%);
}

/* footer */
.footer-top {
  padding-block: 60px;
}
.footer .logo {
  margin-bottom: 20px;
}
.footer .location-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.footer .location-icon {
  background: hsl(0, 0%, 96%);
  color: hsl(342, 100%, 50%);
  font-size: 22px;
  min-width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.footer .address {
  color: hsl(224, 48%, 22%);
  font-size: 0.813rem;
  font-weight: 600;
  line-height: 1.6;
  font-style: normal;
}
.footer .quicklink-box {
  margin-bottom: 15px;
}
.footer .quicklink-title,
.footer .contact-title {
  font-weight: 700;
  margin-bottom: 20px;
}
.footer .quicklink-list {
  /* thuộc tính chia nội dung phần tử thành số cột chỉ định */
  column-count: 2;
}
.footer .quicklink-list > li {
  padding-block: 8px;
}
.footer .quicklink {
  color: hsl(219, 13%, 44%);
  font-size: 0.875rem;
  transition: 0.25s ease;
}
.footer .quicklink:is(:hover, :focus) {
  color: hsl(342, 100%, 50%);
}
.footer .contact-list {
  background: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 50px 10px hsla(0, 0%, 0%, 0.08);
}
.footer .contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.footer .contact-item:first-child {
  padding-bottom: 8px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  margin-bottom: 8px;
}
.footer .contact-icon {
  display: grid;
  border-radius: 50%;
  place-items: center;
  transition: 0.25s ease;
  background: hsl(0, 0%, 96%);
  font-size: 22px;
  min-width: 40px;
  height: 40px;
}
.footer .contact-icon:is(:hover, :focus) {
  background: hsl(342, 100%, 50%);
  color: hsl(0, 0%, 100%);
}
.footer .contact-icon ion-icon {
  --ionicon-stroke-width: 40px;
}
.footer .contact-link {
  color: hsl(219, 13%, 44%);
  font-size: 0.875rem;
  transition: 0.25s ease;
}
.footer .contact-link:is(:hover, :focus) {
  color: hsl(342, 100%, 50%);
}
.footer-bottom {
  background: hsl(224, 48%, 22%);
  padding-block: 30px;
}
.footer .copyright {
  color: hsl(0, 0%, 100%);
  font-size: 0.875rem;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 15px;
}
.footer .copyright a {
  display: inline-block;
  color: inherit;
  text-decoration: underline;
  transition: 0.25s ease;
}
.footer .copyright a:is(:hover, :focus) {
  color: hsl(342, 100%, 50%);
}
.footer .social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.footer .social-link {
  display: grid;
  border-radius: 50%;
  place-items: center;
  transition: 0.25s ease;
  background: hsla(0, 0%, 100%, 0.2);
  color: hsl(0, 0%, 100%);
  width: 35px;
  height: 35px;
}
.footer .social-link:is(:hover, :focus) {
  background: hsl(342, 100%, 50%);
  color: hsl(0, 0%, 100%);
}

/* go to top */
.go-top {
  background: hsl(0, 0%, 100%);
  color: hsl(224, 48%, 22%);
  bottom: 30px;
  right: 20px;
  width: 45px;
  height: 45px;
  font-size: 20px;
  display: grid;
  position: fixed;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: translateY(10px);
  transition: 0.25s ease;
  z-index: 2;
}

.go-top.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.go-top:is(:hover, :focus) {
  background: hsl(244, 86%, 59%);
  color: hsl(0, 0%, 100%);
}

/* MEDIA QUERIES */
/* RESPONSIVE LARGER THAN 575PX SCREEN */
@media screen and (min-width: 575px) {
  .container {
    max-width: 520px;
    margin-inline: auto;
  }
  .features-list {
    grid-template-columns: 1fr 1fr;
    gap: 40px 30px;
  }
  .features-card {
    border: none;
    padding: 0;
  }
}
/* RESPONSIVE LARGER THAN 768PX SCREEN */
@media screen and (min-width: 768px) {
  html {
    font-size: 17.5px;
  }
  .container {
    max-width: 700px;
  }
  .features-card {
    text-align: left;
  }
  .features-card .card-icon {
    margin-inline: 0;
  }
  .features-card .card-icon img {
    width: 60px;
  }
  .features-card .card-link {
    justify-content: flex-start;
  }
  .service-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .service-item:nth-child(even) {
    transform: translateX(80px);
  }
  .service-list {
    padding-right: 80px;
  }
  .blog-list {
    grid-template-columns: 1fr 1fr;
  }
  .footer-top .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 60px;
  }
  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .copyright {
    margin-bottom: 0;
  }
}
/* RESPONSIVE LARGER THAN 992PX SCREEN */
@media screen and (min-width: 992px) {
  html {
    font-size: 18px;
  }
  .container {
    max-width: 950px;
  }
  .section-title {
    max-width: 20ch;
    margin-inline: auto;
  }
  .header {
    background: none;
    box-shadow: none;
    height: unset;
  }
  .header .btn {
    display: flex;
    font-size: 0.813rem;
  }
  .header.nav-active {
    height: unset;
  }
  .header.active {
    background: hsl(0, 0%, 100%);
    box-shadow: 0 2px 25px hsla(0, 0%, 0%, 0.1);
  }
  .nav-toggle-btn {
    display: none;
  }
  .navbar {
    all: unset;
  }
  .navbar-link {
    opacity: 1;
    padding-block: 20px;
  }
  .navbar-list {
    display: flex;
  }
  /* .header.active .navbar-link {
      padding-block: 5px;
  } */
  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .hero-banner {
    padding-top: 180px;
    order: 1;
  }
  .hero .btn {
    margin-inline: 0;
  }
  .features-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .features-card .card-icon img {
    width: unset;
  }
  /* service */
  .service .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 100px 40px;
  }
  .service-banner {
    margin-bottom: 0;
  }
  .service-banner:last-of-type {
    order: 1;
  }
  .service-content:first-of-type {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
  }
  .service-list {
    padding-right: 50px;
  }
  .service-item:nth-child(even) {
    transform: translateX(50px);
  }
  .service-item-icon {
    min-width: 40px;
    height: 40px;
    font-size: 1.125rem;
  }
  /* newsletter */
  .newsletter .container {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .newsletter-banner {
    width: 50%;
    margin-bottom: 0;
    order: 1;
  }
  .newsletter-form {
    display: flex;
    gap: 25px;
  }
  .newsletter .input-field {
    margin-bottom: 0;
  }
  .newsletter .btn {
    min-width: max-content;
    padding-inline: 15px;
  }
  .footer-top .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .footer .contact-list {
    padding: 30px;
  }
  .footer .contact-item:first-child {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}
/* RESPONSIVE LARGER THAN 1200PX SCREEN */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
  .hero .shape {
    display: block;
    position: absolute;
    user-select: none;
    z-index: 1;
  }
  .hero .shape-1 {
    top: 0;
    left: -80px;
    height: 100%;
  }
  .hero .shape-2 {
    bottom: 60px;
    left: 30%;
  }
  .hero .shape-3 {
    top: 0;
    right: -80px;
    height: 100%;
  }
  /* features */
  .features .section-title {
    margin-bottom: 70px;
  }
  /* services */
  .service .container {
    column-gap: 60px;
  }
  .service .section-title {
    margin-bottom: 50px;
  }
  /* blog */
  .blog .section-title {
    margin-bottom: 70px;
  }
  .blog-list {
    grid-template-columns: repeat(3, 1fr);
  }
  /* newsletter */
  .newsletter .container {
    gap: 80px;
  }
  .newsletter-banner {
    width: 45%;
  }
  .newsletter-content {
    width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
